<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>Eduardo Olarte Aguinaga   DNI: 51117355Q   Grupo 31.2
<img src="/images/forografia.png">
  </body>
</html>